<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

                <div class="form-group row mb-3 justify-content-center">
                    <label for="pictureUrl" class="col-sm-3 col-form-label">{{
                        studentForm.errors}}</label>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="firstName" class="col-sm-3 col-form-label">Name </label>
                    <div class="col-sm-4">
                        <input type="text" id="firstName" placeholder="First Name" formControlName="firstName"
                            class="form-control" [inputRequired]="studentForm.get('firstName')!">
                        <!-- First Name input validation -->
                        <span Class="text-danger text-bold" *ngIf="studentForm.get('firstName')?.hasError('minlength')">
                            first name must be at least 3 characters</span>
                        <span Class="text-danger" *ngIf="studentForm.get('firstName')?.hasError('maxlength')">
                            first name must be at maximum 20 characters</span>

                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="lastName" placeholder="Last Name" formControlName="lastName"
                            class="form-control" [inputRequired]="studentForm.get('lastName')!">
                        <!-- Last Name input validation -->
                        <span Class="text-danger text-bold" *ngIf="studentForm.get('lastName')?.hasError('minlength')">
                            last name must be at least 3 characters</span>
                        <span Class="text-danger" *ngIf="studentForm.get('lastName')?.hasError('maxlength')">
                            last name must be at maximum 20 characters</span>
                    </div>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="nationalId" class="col-sm-3 col-form-label">National ID</label>
                    <div class="col-sm-8">
                        <input type="text" id="nationalId" placeholder="National ID" formControlName="nationalId"
                            class="form-control" [inputRequired]="studentForm.get('nationalId')!">
                        <!-- National ID input validation -->
                        <span Class="text-danger text-bold" *ngIf="studentForm.get('nationalId')?.hasError('pattern')">
                            only numbers are allowed</span>
                        <span Class="text-danger" *ngIf="studentForm.get('nationalId')?.hasError('minlength')">
                            national id must be 14 digits</span>
                    </div>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="text" id="email" placeholder="Email" formControlName="email" class="form-control"
                            [inputRequired]="studentForm.get('email')!">
                        <!-- Email input validation -->
                        <span Class="text-danger text-bold" *ngIf="studentForm.get('email')?.hasError('pattern')">
                            Enter a valid email address</span>
                    </div>

                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" id="password" placeholder="Password" formControlName="password"
                            class="form-control" [inputRequired]="studentForm.get('password')!">
                        <span Class="text-danger text-bold" *ngIf="studentForm.get('password')?.hasError('minlength')">
                            password must be at least 8 characters</span>
                    </div>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="age" class="col-sm-3 col-form-label">Age</label>
                    <div class="col-sm-8">
                        <input type="text" id="age" placeholder="Age" formControlName="age" class="form-control">
                        <span Class="text-danger text-bold"
                            *ngIf="studentForm.get('age')?.hasError('min')||studentForm.get('age')?.hasError('max')">
                            age must be at from 4 to 85 years </span>
                    </div>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="phoneNumber" class="col-sm-3 col-form-label">Phone Number</label>
                    <div class="col-sm-8">
                        <input type="text" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber"
                            class="form-control">
                        <span Class="text-danger text-bold" *ngIf="studentForm.get('phoneNumber')?.hasError('pattern')">
                            enter a valid phone number</span>
                    </div>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="address" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-8">
                        <input type="text" id="address" placeholder="Address" formControlName="address"
                            class="form-control">
                        <span Class="text-danger text-bold" *ngIf="studentForm.get('address')?.hasError('minlength')">
                            address must be at least 3 characters</span>
                        <span Class="text-danger" *ngIf="studentForm.get('address')?.hasError('maxlength')">
                            address must be at maximum 60 characters</span>

                    </div>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <label for="pictureUrl" class="col-sm-3 col-form-label">Image</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control-file" id="pictureUrl" accept="image/*"
                            formControlName="pictureUrl" class="form-control-file">
                    </div>
                </div>

                <div class="form-group row mb-3 justify-content-center">
                    <button type="submit" class="btn btn-primary col-sm-3">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>