<div class="container py-5">

  <div class="d-flex justify-content-between align-items-center">
    <h2 class="font-weight-bold mb-2" *ngIf="!addingTeachersToGroup">{{group == null ? 'Teachers' : group.title}}</h2>
    <h2 class="font-weight-bold mb-2" *ngIf="addingTeachersToGroup">{{group == null ? 'Teachers' : "Add Teachers to " +
      group.title}}</h2>
    <div *ngIf="isAdmin">
      <button *ngIf="group == null" class="btn btn-outline-success mx-2" routerLink="/teachers/new"> <i class="fa-solid fa-user-plus"> </i> New
        Teacher</button>
      <button *ngIf="!addingTeachersToGroup && group != null" class="btn btn-outline-success mx-2"
        (click)="addTeachersToGroup(group.id)"><i class="fa-solid fa-user-plus"></i>Add Teacher</button>
      <button *ngIf="addingTeachersToGroup && group != null" class="btn btn-outline-success mx-2"
        (click)="backToGroup(group.id)">Back</button>
    </div>
  </div>
  <hr>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" *ngFor="let teacher of teachers; let idx = index">
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0">
          <btn [routerLink]="['/user', teacher.id, 'profile']" [queryParams]="{ teacher: true }">
          <div class="bg-gradient-teacher px-5 py-4 text-center">
            <div class="d-flex flex-column align-items-center">
              <div class="rounded-circle-container mb-3">
                <img [src]="teacher.pictureUrl ? 'assets/' + teacher.pictureUrl : 'assets/teacher.png'"
                   alt=""
                   class="img-fluid rounded-circle rounded-circle-image">
              </div>
                                        
            <h5 class="text-white mb-0">{{teacher.firstName}}</h5>
            <p class="small text-white mb-0">{{teacher.nationalId}}</p>
          </div>
        </div>
      </btn>
        <div class="bg-white p-4 d-flex justify-content-center">
          <ul class="list-inline mb-0" *ngIf="isAdmin">
              <li class="list-inline-item"  >
                <button (click)="editTeacher(teacher.id)" class="btn btn-outline-secondary btn-sm px-2"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
              </li>
              <li class="list-inline-item" *ngIf="!addingTeachersToGroup">
                <button (click)="deleteTeacherFromGroup(teacher.id)" class="btn btn-outline-danger btn-sm px-2"><i class="fa-solid fa-trash"></i> Delete</button>
              </li>
              <li class="list-inline-item" *ngIf="addingTeachersToGroup">
                <button (click)="addThisTeacherToTheGroup(teacher.id)" class="btn btn-outline-success btn-sm px-2"> <i class="fa-solid fa-user-plus"></i> Add
                  to Group</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>