.badge span {
    font-size: 22px;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: rgb(61, 165, 68);
    justify-content: center;
    align-items: center
}

.title {
    color: red;
}

.btn {
    font-size: 15px;
}

.modal-open .modal-backdrop {
    backdrop-filter: blur(5px) !important;
    background-color: rgba(0, 0, 0, 0.5)!important;
    opacity: 1 !important;
  }