
<div class="container mt-5 mb-3">

    <div class="d-flex justify-content-between align-items-center">
        <h2 class="font-weight-bold mb-2">Groups</h2>
        <div>
            <button *ngIf="isTeacher" class="btn btn-outline-success mx-2" routerLink="/groups/new"><i
                    class="fa-solid fa-circle-plus"></i> New
                Group</button>
            <!-- <button *ngIf="!addingQuestionsToExam && exam != null" class="btn btn-outline-success mx-2"
            (click)="addStudentsToGroup(exam.id)">Add New Question</button>
          <button *ngIf="addingQuestionsToExam && exam != null" class="btn btn-outline-success mx-2"
            (click)="backToGroup(exam.id)">Back</button> -->
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6" *ngFor="let group of groups; let idx = index;">
            <div class="card p-3 mb-2 bg-light custome-bg position-relative shadow">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <h5 class="mb-0">{{group.title}}</h5>
                            <span class="text text-primary">{{group.students.length}} Students</span> |
                            <span class="text text-success"> {{group.teachers.length}} Teachers</span>
                        </div>
                    </div>
                    <div class="badge"> <span><i class="fa-solid fa-user-group"></i></span> </div>
                </div>
                <!-- <hr> -->
                <div class="mt-4">
                    <h4 class="heading">{{group.description}}</h4>
                </div>

                <div class="card-body">

                    <div class="row d-flex justify-content-center mb-3">

                        <a (click)="groupStudents(group.id)" class="btn btn-outline-primary mx-1 col-lg-3"><i
                                class="fa-solid fa-graduation-cap"></i> Students</a>
                        <a (click)="groupTeachers(group.id)" class="btn btn-outline-success mx-1 col-lg-3"><i
                                class="fa-solid fa-chalkboard-user"></i> Teachers</a>
                        <button *ngIf="isUserInGroup(group.id)" class="btn btn-outline-secondary mx-1 col-lg-3"
                            routerLink='{{group.id}}/exams'><i class="fa-solid fa-file-signature"></i> Exams </button>

                        <!-- <span class="d-flex justify-content-end align-items-end position-absolute bottom-0 right-0 mb-1">
                            </span> -->
                        <span
                            class="d-flex justify-content-start align-items-end position-absolute bottom-0 left-0 mb-2">
                            <a (click)="deleteGroup(group.id)"
                                class="btn btn-outline-danger mx-1 custom-small-btn rounded-circle">
                                <i class="fa fa-trash"></i>
                            </a>
                            <button class="btn btn-outline-secondary mx-1 custom-small-btn rounded-circle"
                                routerLink='{{group.id}}/edit'>
                                <i class="fa-solid fa-file-signature"></i>
                            </button>
                        </span>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>