<div class="container">
  <div class="main-body">

    <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav> -->

    <div class="row gutters-sm mt-5">
      <div class="col-md-4 mb-3">
        <div class="card" [class.bg-gradient-student]="student != null"  [class.bg-gradient-teacher]="teacher != null" 
        [class.bg-gradient-admin]="admin != null"
         >
          <div class="card-body" >
            <div class=" d-flex flex-column align-items-center text-center">
              <img src="assets/{{user.pictureUrl}}" alt="Admin" class="rounded-circle" width="150">

                  <h4 class="text-white">{{user.firstName}}</h4>
                  <p class="text-secondary mb-1 text-white">{{user.nationalId}}</p>
                  <p class="font-size-sm text-white">{{user.address}}</p>
                  <div *ngIf="!isStudent" >
                    <button *ngIf="student != null" routerLink="/students/{{user.id}}/edit"
                    class="btn btn-light">Edit</button>
                    <button *ngIf="teacher != null && !isTeacher" routerLink="/teachers/{{user.id}}/edit"
                    class="btn btn-light">Edit</button>
                  </div>
                  <!-- <button class="btn btn-primary">Follow</button>
                    <button class="btn btn-outline-primary">Message</button> -->
                  </div>
          </div>
        </div>

        <!-- <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                </ul>
              </div> -->
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.firstName}} {{user.lastName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone Number</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.phoneNumber}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">National ID</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.nationalId}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Age</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.age}} Years
              </div>
            </div>

            <!-- <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div> -->
          </div>
        </div>

        <div class="row gutters-sm" *ngIf="student != null">
          <div class="col-sm-12 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">
                  <i class="material-icons text-info mr-2">Previous: </i> Exams 
                </h6>
                <div class="row"  *ngFor="let record of takenExamsRecord">
                  <strong class="col-lg-4"> {{record.exam.title}}</strong>

                    <div class="col-2">{{record.score}}</div>
                    <div class="col-6">{{record.examDate}}</div>
                                        
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-12 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Upcoming: </i> Exams
                </h6>
                <strong>Exam Name</strong>
                <div class="mb-3" style="height: 5px">
                  <div class="" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Score:
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>

  </div>
</div>