<div class="container" *ngIf="questions.length > 0">


    <form class="form-inline mt-5" [formGroup]="QuestionForm" (ngSubmit)="onSubmit()">
        <div class="leftRadius row justify-content-center">
            <h2 class="font-weight-bold mb-5 mx-auto text-center">{{this.QuestionForm.value.timer }}</h2>
            <h2 class="font-weight-bold mb-5 mx-auto text-center">{{questions[curQuestionIdx].description}}</h2>
            <input type="text" class="leftRadius rounded-left-0 blueInput col-sm-8" formControlName="answer" id="answer"
                placeholder="Your Answer">
            <button type="submit" class="rightRadius btn btn-success col-sm-2 "><strong>Submit</strong></button>
            <!-- <input type="text" class="form-control col-md-4 rounded-0" id="search" placeholder="What ?">
            <button type="submit" class="btn btn-primary col-md-4 rounded-0">SEARCH</button> -->
            <input hidden="true" type="number" class="form-control" id="id" formControlName="id">
        </div>
    </form>


    <div class="py-5">
        <div class="col-lg-3 mx-auto mt-5">
            <div class="row">
                <div class="rounded bg-gradient-4 text-white shadow p-2 text-center">
                    <span *ngIf="this.QuestionForm.value.timerHours > 0">
                        <span class="h1 font-weight-bold">{{this.QuestionForm.value.timerHours}}</span>
                        Hr
                    </span>
                    <span class="h1 font-weight-bold">{{this.QuestionForm.value.timerMinutes}}</span> Min
                    <span>
                        <span class="h1 font-weight-bold text-danger"
                            [ngClass]="{'text-danger': this.QuestionForm.value.timerSeconds <= 5 && this.QuestionForm.value.timerMinutes == 0 }">
                            {{this.QuestionForm.value.timerSeconds}}</span>
                        Sec
                    </span>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- 
<div class="container py-5">

    <div class="row justify-content-center">
        <div class="col-md-10">
            <form [formGroup]="QuestionForm" (ngSubmit)="onSubmit()">

                <div class="form-group row mb-3">
                    <div class="col-sm-12">
                        <h2 class="font-weight-bold mb-2 mx-auto text-center">{{questions[curQuestionIdx].description}}
                        </h2>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="answer" placeholder="Your Answer"
                            formControlName="answer">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success">Next</button>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                </div>
                <input hidden="true" type="number" class="form-control" id="id" formControlName="id">
            </form>
        </div>
    </div>
</div> -->